#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(assets/blue-anime-starry-night-sky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock-container {
  backdrop-filter: blur(5px);
  padding: 10px 0px;
}

.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  padding: 30px;
}

.display {
  font-size: 6rem;
  font-family: monospace;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  margin-bottom: 25px;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button {
  background-color: hsl(115, 100%, 40%);
}

.start-button:hover {
  background-color: hsl(115, 100%, 35%);
}

.stop-button {
  background-color: hsl(10, 90%, 50%);
}

.stop-button:hover {
  background-color: hsl(10, 90%, 45%);
}

.reset-button {
  background-color: hsl(205, 90%, 60%);
}

.reset-button:hover {
  background-color: hsl(205, 90%, 55%);
}

.switch-button {
  background-color: hsl(30, 100%, 50%);
}

.switch-button:hover {
  background-color: hsl(30, 100%, 45%);
}
